// COLOR
$color-text-primary = #d7d7d7
$color-text-emphasis = #FFFFFF
$color-text-secondary = #AFAFAF
$color-text-third = #838383
$color-text-fourth = #414141
$color-background = #252525

$color-code-background = #AFAFAF
$color-code-highlight = #60CFFF
$color-code-default = #F4F4F4
$color-code-marker = #BDBDBD

// CODE HIGHLIGHT
@import "../highlight/rainbow.styl"