<% if (page.total > 1){ %>
    <div class=paginator>
        <div class="h-line-primary"></div>
        <nav class="pagination">
            <%- paginator({
                prev_text: "← Prev",
                next_text: "Next →",
                prev_next: true,
                end_size: 4,
                mid_size: 4,
            }) %>
        </nav>
    </div>
<% } %>