.paginator
    margin-top $margin-primary

.pagination
    margin-top $margin-m-1
    text-style(header)
    display flex

    &:before
        content ""
        flex-grow 1

.page-number
    position relative
    margin-left $margin-m-0
    underline-motion(header)
    font-size:10pt;

.pagination .current:after

.pagination .current
    font-size:15pt;

.pagination .space
    margin-left $margin-m-0

.extend
    margin-left $margin-m-0
