.profile 
    margin-top $margin-primary
    display flex
    flex-direction row-reverse
    
    .profile-content 
        margin 0 0 0 0

        .profile-title
            margin-top 0 
            margin-bottom $margin-m-0
            text-align: center
            
        .profile-body
            margin-top 0
            margin-bottom $margin-l-1
            text-align: center

        .profile-title
            text-style(heading-h1)

        .profile-body
            text-style(body-default)

        .profile-link
            margin-top 0
            margin-bottom $margin-m-1
            text-style(header)
            

    .profile-image
        width 40%
        float right
        text-align: center

        img
            width 89px
            margin-left -20px

    .post-title
        margin-bottom $margin-m-1
        margin-top 30px
        text-style(heading-h1)
        text-align: center

    .post-date
        text-align: center

    .main-page-post-list-item
        padding-top 20px
        margin-bottom 40px
        border solid 2px $color-text-primary
        border-style solid none none none 

.rsslinks
    margin: 10px;

@media (max-width: 680px)
    .profile
        flex-wrap wrap
        
        .profile-content
            width 100%
            margin-top $margin-m-1
            